[Unit]
Description=Check Mail every X minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec= 1min
OnUnitActiveSec= 1min
Unit=checkinbox.service

[Install]
WantedBy=default.target
