[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/notes"]
	path = vim/bundle/notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/bundle/voom"]
	path = vim/bundle/voom
	url = https://github.com/vim-scripts/VOoM.git
[submodule "vim/bundle/VimExplorer"]
	path = vim/bundle/VimExplorer
	url = git://github.com/mbbill/VimExplorer.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = git://github.com/vim-scripts/Conque-Shell.git
