[submodule "gnuplotting/gcb"]
	path = config-misc/.gnuplotting/gcb
	url = https://github.com/aschn/gnuplot-colorbrewer.git
[submodule "stowsh"]
	path = stowsh
	url = https://github.com/williamsmj/stowsh
