snippet t "t"
%table
	%tr
		%th
			${1:headers}
	%tr
		%td
			${2:headers}
endsnippet

snippet ul "ul"
%ul
	%li
		${1:item}
	%li
endsnippet

snippet =rp "=rp"
= render :partial => '${1:partial}'
endsnippet

snippet =rpl "=rpl"
= render :partial => '${1:partial}', :locals => {}
endsnippet

snippet =rpc "=rpc"
= render :partial => '${1:partial}', :collection => @$1
endsnippet


