# rst
snippet : ":"
:${1:field name}: ${2:field body}
endsnippet

snippet * "*"
*${1:Emphasis}*
endsnippet

snippet ** "**"
**${1:Strong emphasis}**
endsnippet

snippet _ "_"
\`!v ${1:hyperlink-name}\`_
.. _\`!v $1\`: ${2:link-block}
endsnippet

snippet = "="
${1:Title}
=====${2:=}
${3}
endsnippet

snippet - "-"
${1:Title}
-----${2:-}
${3}
endsnippet

snippet cont: "cont:"
.. contents::
endsnippet


