@define-color background rgba(40, 40, 40, 0.6);
@define-color background-alt rgba(82, 82, 82, 0.8);
@define-color foreground #eeeeee;
@define-color foreground-alt #aaaaaa;
@define-color alarm #cc241d;
@define-color good #557711;
@define-color accent #af87d7;

* {
        border-radius: 0 0 12px 12px;
        font-family: Fira Sans, "FontAwesome 5 Free Solid", sans-serif;
        font-size: 14px;
        padding: 0px 3px;
        margin: 0;
        color: @foreground;
}

#window {
        background-color: @background-alt;
        border-radius: 1px;
        padding: 0 6px 0 6px;
        border: none;
}

window#waybar.empty #window{
    background-color: transparent;
}

window#waybar {
        background-color: rgba(40, 40, 40, 0.);
        padding: 0;
        border: none;
}

#workspaces {
        padding-left: 0;
}

#workspaces button {
        color: @foreground;
        border-bottom: 2px solid transparent;
}

#workspaces button.focused {
        background: @background-alt;
        border-bottom: 2px solid @alarm;
}

#workspaces button.visible {
        background: @background-alt;
        border-bottom: 2px solid @accent;
        border-right: 2px solid @accent;
}

#workspaces button.urgent {
        background: @alarm;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
}

#mode {
        background: @background-alt;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
}

#clock {
        background-color: @background-alt;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
        padding: 4px 10px;
}

#idle_inhibitor {
        background-color: transparent;
}

#pulseaudio.muted {
        background-color: transparent;
        border-bottom: 0px;
}

#network.disconnected,
#custom-ping,
#custom-arch {
        background: @alarm;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
}

#battery.charging {
        color: @foreground;
        background-color: @good;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
}

@keyframes blink {
        to {
                background-color: @foreground;
                color: @alarm;
        }
}

#battery.critical.discharging {
        background: @alarm;
        color: @foreground;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

#battery.warning.discharging {
        background: @alarm;
        color: @foreground;
        border-bottom: 2px solid @background;
        border-right: 2px solid @background;
}

#tray {}
