@define-color background alpha(@theme_bg_color, 0.7);
@define-color foreground @theme_text_color;
@define-color dumped_foreground alpha(mix(@background, @foreground, 0.2), 0.5);
@define-color alarm @error_color;
@define-color warning @warning-color;
@define-color good @success_color;
@define-color accent @theme_selected_bg_color;

/* see: https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-22/gtk/theme/Adwaita/_colors-public.scss */

* {
    font-family: Fira Sans Condensed, "FontAwesome 5 Free Solid", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: @foreground;
}


window#waybar,
window#waybar.empty {
    background-color: transparent;
    padding: 0px 0px;
    margin: 0px;
}

.modules-right {
    border-radius: 4px 0px 0px 24px;
    padding: 0px 0px 0px 24px;
    border-bottom: 1px solid @dumped_foreground;
    border-left: 1px solid @dumped_foreground;
    background-color: @background;
    background-image: linear-gradient(60deg, @background, @dumped_foreground);
}

.modules-left {
    border-radius: 0px 4px 24px 0px;
    padding: 0px 24px 0px 0px;
    border-bottom: 1px solid @dumped_foreground;
    border-right: 1px solid @dumped_foreground;
    background-color: @background;
    background-image: linear-gradient(60deg, @background, @dumped_foreground);
}

.modules-center {
    padding: 0px 24px 0px 24px;
    border-radius: 4px 4px 24px 24px;
    border-bottom: 1px solid @dumped_foreground;
    border-left: 1px solid @dumped_foreground;
    border-right: 1px solid @dumped_foreground;
    /* border: none; */
    background-color: @background;
    background-image: linear-gradient(60deg, @background, @dumped_foreground);
    /* box-shadow: 1px 0px 2px 0px @dumped_foreground; */
    /* margin: 0px 0px 5px 0px; */
}

.modules-left *,
.modules-right * {
    padding: 0px 5px;
}

#clock {
    box-shadow: none;
}

#idle_inhibitor.activated {
    background-color: @foreground;
    color: @background
}

#workspaces button {
    color: @foreground;
}

#workspaces button.focused {
    background: @good;
}

#workspaces button.visible {
    background: @accent;
}

#workspaces button.urgent {
    background: @alarm;
}

#network.disconnected,
.warning{
    background: @alarm;
}

#battery.charging {
    background-color: @good;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @alarm;
    }
}

#battery.critical.discharging {
    background: @alarm;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    background: @alarm;
    color: @foreground;
}
