# Jekyll post header
snippet header "header"
---
title: ${1:title}
layout: post
date: ${2:date} ${3:hour:minute:second} -05:00
---
endsnippet

# Image
snippet img "img"
!${1:url}(${2:title}):${3:link}!
endsnippet

# Table
snippet | "|"
|${1}|${2}
endsnippet

# Link
snippet link "link"
"${1:link text}":${2:url}
endsnippet

# Acronym
snippet ( "("
(${1:Expand acronym})${2}
endsnippet

# Footnote
snippet fn "fn"
[${1:ref number}] ${3}
fn$1. ${2:footnote}
endsnippet


